# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignorar archivos de configuración de la base de datos de Spring Boot
/src/main/resources/application-*.properties
